mcp-server>=0.1.0
python-dotenv>=0.19.0
logfire>=0.1.0
pydantic>=1.9.0
pydantic-ai
pymongo
langchain_community
langchain
langgraph>=0.5.2
langgraph-checkpoint-postgres>=2.0.22,<3.0.0
langgraph-sdk>=0.1.70,<0.2.0
ollama==0.5.1
nltk
nest_asyncio
fastmcp