
# File paths
PROJECT_ROOT=path-to-repo-root
LOCAL_PYTHON_VENV=path-to-venv


# API Keys
CBORG_API_KEY=cborg-api-key
OPENAI_API_KEY=openai-api-key
GEMINI_API_KEY=gemini-api-key
ANTHROPIC_API_KEY_o=anthropic-api-key

# Firewall configuration (optional for container management)
NO_PROXY=no-proxy-list
HTTP_PROXY=http-proxy

# Langfuse (required for using langfuse)
LANGFUSE_SECRET_KEY=some-secret-key
LANGFUSE_PUBLIC_KEY=some-public-key
