
# File paths
PROJECT_ROOT=path-to-repo-root
LOCAL_PYTHON_VENV=path-to-venv


# API Keys
CBORG_API_KEY=cborg-api-key
OPENAI_API_KEY=openai-api-key
GOOGLE_API_KEY=google-api-key
ANTHROPIC_API_KEY_o=anthropic-api-key

# Firewall configuration (optional for container management)
NO_PROXY=no-proxy-list
HTTP_PROXY=http-proxy